-
    const defaultNumbersProps = {
        classes: '',
        title: '',
        columns: '',
        cards: [
            {
                title: '20 000 <span>ГА</span>',
                icon: 'img/about/about_icon_1.svg',
                text: 'Общая площадь земли',
                smallTitle: false
            },
            {
                title: '1',
                icon: 'img/about/about_icon_6.svg',
                text: 'Растениеводческое подразделение в Липецкой области',
                smallTitle: false
            },
            {
                title: '2',
                icon: 'img/about/about_icon_7.svg',
                text: 'Животноводческих комплекса: на 1000, 2000 и 4000 голов дойного стада, молодняковая ферма',
                smallTitle: false
            },
            {
                title: '1 000 <span>+</span>',
                icon: 'img/about/about_icon_5.svg',
                text: 'Обрудования для посева и сбора урожая',
                smallTitle: false
            },
            {
                title: '750 <span>+</span>',
                icon: 'img/about/about_icon_8.svg',
                text: 'Сотрудников',
                smallTitle: false
            },
            {
                title: '2 <span>элеватора</span>',
                icon: 'img/about/about_icon_9.svg',
                text: 'Мощностью хранения более 76&nbsp;000 тонн',
                smallTitle: false
            },
            {
                title: '400 000',
                icon: 'img/about/about_icon_10.svg',
                text: 'тонн зёрна продаём в год',
                smallTitle: false
            },
            {
                title: 'Школа<br>действия',
                icon: 'img/about/about_icon_11.svg',
                text: 'Учебный центр практического животноводства',
                smallTitle: true
            }
        ],
    }

mixin numbers(props= defaultNumbersProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultNumbersProps.classes,
            title: props.title ? props.title : defaultNumbersProps.title,
            columns: props.columns ? props.columns : defaultNumbersProps.columns,
            cards: props.cards ? props.cards : defaultNumbersProps.cards
        }

        let columnsClass = checkProps.columns.length > 0 ? ` numbers--${checkProps.columns}` : ''

    section.numbers(class= checkProps.classes + columnsClass)&attributes(attributes)
        .gkt-container
            -if(checkProps.title.length > 0)
                .gkt-container__inner
                    +title({
                        classes: 'numbers__title',
                        text: checkProps.title
                    })
            .gkt-container__inner.gkt-container__inner--bg.gkt-container__inner--dark
                .pattern-bg
                .numbers__grid
                    - let cards = checkProps.cards
                    - let count = 0

                    - while(count < cards.length)
                        - let titleClass = cards[count].smallTitle === true ? ' n-card__title--small' : ''
                        .n-card(data-aos="fade-up" data-aos-delay=`${(count + 1) * 100}`)
                            .n-card__header
                                .n-card__title(class= titleClass)!= cards[count].title
                                .n-card__icon
                                    img(src=cards[count].icon alt="")
                            - if(cards[count].text.length > 0)
                                .n-card__text.text-editor!= cards[count].text
                        - count++
