-
    const defaultAboutInfoProps = {
        classes: '',
        topCenter: false,
        top50: false,
        verticalReverse: false,
        transparent: false,
        top: '',
        cards: ''
    }

mixin about-info(props= defaultAboutInfoProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultAboutInfoProps.classes,
            topCenter: props.topCenter ? props.topCenter : defaultAboutInfoProps.topCenter,
            top50: props.top50 ? props.top50 : defaultAboutInfoProps.top50,
            verticalReverse: props.verticalReverse ? props.verticalReverse : defaultAboutInfoProps.verticalReverse,
            transparent: props.transparent ? props.transparent : defaultAboutInfoProps.transparent,
            top: props.top ? props.top : defaultAboutInfoProps.top,
            cards: props.cards ? props.cards : defaultAboutInfoProps.cards
        }

        let topLeftClass = checkProps.topCenter === true ? ' about-info--center' : ''
        let topCenterClass = checkProps.top50 === true ? ' about-info--50' : ''
        let bgClass = checkProps.transparent === false ? ' gkt-container__inner--bg' : ''

    section.about-info(class= checkProps.classes + topLeftClass + topCenterClass)&attributes(attributes)
        .gkt-container
            .gkt-container__inner(class=bgClass)
                .about-info__container
                    - if(checkProps.top.length > 0 && checkProps.verticalReverse !== true)
                        .about-info__top
                            - let topList = checkProps.top
                            - let topCounter = 0

                            - while(topCounter < topList.length)
                                .about-info__row
                                    .about-info__left(data-aos="fade-up" data-aos-delay="100")
                                        - if(topList[topCounter].tag.length > 0)
                                            +title-tag({
                                                text: topList[topCounter].tag
                                            })

                                        - if(topList[topCounter].title.length > 0)
                                            +title({
                                                text: topList[topCounter].title,
                                                size: '22'
                                            })
                                    .about-info__text(data-aos="fade-up" data-aos-delay="300")!= topList[topCounter].text

                                - topCounter++

                    - if(checkProps.cards.length > 0)    
                        .about-info__cards(data-aos="fade-up" data-aos-delay="400")
                            - let cardsList = checkProps.cards
                            - let cardsCounter = 0

                            - while(cardsCounter < cardsList.length)
                                .about-info__card.ai-card
                                    .ai-card__header
                                        +title({
                                            text: cardsList[cardsCounter].title,
                                            size: '20'
                                        })
                                        .ai-card__icon
                                            img(src=cardsList[cardsCounter].icon alt="")
                                    .ai-card__text.text-editor!= cardsList[cardsCounter].text

                                - cardsCounter++

                    - if(checkProps.top.length > 0 && checkProps.verticalReverse === true)
                        .about-info__top
                            - let topList = checkProps.top
                            - let topCounter = 0

                            - while(topCounter < topList.length)
                                .about-info__row
                                    .about-info__left(data-aos="fade-up" data-aos-delay="500")
                                        - if(topList[topCounter].tag.length > 0)
                                            +title-tag({
                                                text: topList[topCounter].tag
                                            })

                                        - if(topList[topCounter].title.length > 0)
                                            +title({
                                                text: topList[topCounter].title,
                                                size: '22'
                                            })
                                    .about-info__text(data-aos="fade-up" data-aos-delay="600")!= topList[topCounter].text

                                - topCounter++
